extends layout

block content
  h1 Interacionista de filmes
  p Nesta app pode-se listar todos os filmes, criar novos filmes, eliminar, consultar e alterar.
  p Pode-se ver um filme em específico concatenando no url 
    i /filmes/idFilme
    |  em que o 
    i idFilme
    |  é o identificador do filme.
    
  a(href="/filmes") Listar filmes 
