doctype html
html
  head
    title Clav Navegador
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://unpkg.com/axios/dist/axios.min.js')
  body
    block content
